/**
 * Front CSS
 */

.annuityTimeout {
    border: 1px solid #990000;
    padding: 5px;
    border-radius: 10px;
    background: #ffffff;
}

.resursGetAddressError {
    border: 1px solid #990000;
    background: #f8bbbb;
    padding: 5px;
    margin: 5px;
    font-size: 10px;
}

.resursReadMoreSpace {
    padding-top: 5px !important;
    margin-top: 5px !important;
    font-size: 12px !important;
}

.resursReadMoreButton {
    font-size: 12px !important;
}
