/**
 * Admin CSS.
 */
.resursOrderInfoContainer {
    background: #129fdc !important;
    color: #FFFFFF !important;
    padding: 5px !important;
}

.resursOrderInfoTitle {
    background: #211551 !important;
    color: #ffffff !important;
    padding: 5px !important;
}

.resursApiException {
    background: #f8dede;
    border: 1px solid #990000;
    padding: 5px;
    display: block;
    border-radius: 5px;
}

.waitForFraudControlWarning {
    margin-left: 5px;
    padding: 5px;
    border: 1px solid #990000;
    background: #f8dede;
}