/**
 * Admin CSS.
 */

.resursOrderInfoTitle {
    background: #22817c !important;
    color: #000000 !important;
    padding: 5px !important;
}

.resursOrderInfoRow {
    color: #000000;
    text-align: left;
    padding: 5px;
    margin: 5px;
    font-size: 14px !important;
    white-space: nowrap;
}

#resursbank_orderinfo > .inside {
    padding: 0px;
    margin: 0px;
}

.r_payment_info_table {
    padding: 5px;
    margin: 0px;
    margin-top: 5px;
    background-color: #2a9a90;
}

.r_payment_info_table tr:nth-child(odd) th,
.r_payment_info_table tr:nth-child(odd) td
{
    background: #22817c !important;
}
.r_payment_info_table td {
    padding: 5px 10px;
}

.resursOrderInfoOldPluginNote {
    display: block;
    font-weight: bold;
    background: #ffd7cd !important;
    color: #990000 !important;
}

.resursOrderInfoLabel {
    cursor: default !important;
    font-weight: bold !important;
}

.resursOrderInfoDifferentCredentials {
    background: #511515 !important;
    color: #ffffff !important;
    padding: 5px !important;
    font-weight: bold;
}

.resursApiException {
    background: #f8dede;
    border: 1px solid #990000;
    padding: 5px;
    display: block;
    border-radius: 5px;
}

.waitForFraudControlWarning {
    margin-left: 5px;
    padding: 5px;
    border: 1px solid #990000;
    background: #f8dede;
}

.resursMethodHead {
    font-weight: bold !important;
    background: #d4d2d2;
    font-size: 12px;
    vertical-align: top;
}

.resursMethodBody {
    padding: 2px !important;
    background: #ffffff;
    border: 1px solid #ffffff;
    vertical-align: top;
}

.trbwc_cb_input {
    width: 100%;
    border: none;
    font-size: 12px;
    background: #ffffff !important;
}

.trbwc_method_description_input {
    width: 100%;
    border: none !important;
    font-size: 12px;
}

.paymentMethodsInfoBox {
    border: 1px solid black;
    padding: 2px;
    margin: 5px;
    border-radius: 1px;
    font-weight: bold;
    background: #fffce8;
}

.trbwc_method_fee_input {
    width: 100%;
    border: none !important;
    font-size: 12px;
}

.r_annuity {
    font-size: 12px !important;
}

.r_annuity_enabled {
    background: #CCFFCC !important;
}

.r_annuity_disabled {
    background: #FFCCCC !important;
}

.resurs_order_meta_container {
    display: none;
}
