/**
 * Admin CSS.
 */
.resursOrderInfoContainer {
    background: #129fdc !important;
    color: #FFFFFF !important;
    padding: 5px !important;
}

.resursOrderInfoTitle {
    background: #211551 !important;
    color: #ffffff !important;
    padding: 5px !important;
}

.resursOrderInfoDifferentCredentials {
    background: #511515 !important;
    color: #ffffff !important;
    padding: 5px !important;
    font-weight: bold;
}

.resursApiException {
    background: #f8dede;
    border: 1px solid #990000;
    padding: 5px;
    display: block;
    border-radius: 5px;
}

.waitForFraudControlWarning {
    margin-left: 5px;
    padding: 5px;
    border: 1px solid #990000;
    background: #f8dede;
}

.resursMethodHead {
    font-weight: bold !important;
    background: #d4d2d2;
    font-size: 12px;
    vertical-align: top;
}

.resursMethodBody {
    padding: 2px !important;
    background: #ffffff;
    border: 1px solid #ffffff;
}

.trbwc_cb_input {
    width: 100%;
    border: none;
    font-size: 12px;
    background: #ffffff !important;
}
