<div style="border: 1px solid black; padding-left: 5px; width: 800px;">
    <div style="font-style: italic; margin-bottom: 5px; padding: 5px;">
        <?php echo $support_string ?>
    </div>
    <table class="form-table">
        <?php foreach ($render as $renderKey => $renderValue) { ?>
        <tr style="border-top: 1px solid gray;">
            <th scope="row" class="titledesc" style="border-right: 1px solid gray;"
                valign="top"><?php echo $renderKey ?></th>
            <td class="forminp forminp-checkbox" valign="top"><?php echo $renderValue ?></td>
        </tr>
        <?php } ?>
    </table>
    <div style="font-style: italic; margin-bottom: 5px; padding: 5px; border-top: 1px solid gray;">
        <?php echo $required_drivers ?>
    </div>
</div>
